<div>
<%= form_for @user, url: {action: "create"} do |f| %>
  <%= f.label :email, "E-mail" %>
  <%= f.text_field :email %>
  <%= f.label :username, "Name" %>
  <%= f.text_field :username %>
  <%= f.label :password_digest, "Password" %>
  <%= f.password_field :password_digest %>
  <%= f.submit "Create" %>
<% end %>
</div>